<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <!-- <img *ngIf="form.get('name').value" [src]="form.get('name').value" class="avatar mr-5"> -->
        <h2 *ngIf="form.get('name').value || form.get('name').value" class="headline m-0" fxFlex="auto">{{
            form.get('name').value}}</h2>
        <h2 *ngIf="!form.get('name').value" class="headline m-0" fxFlex="auto">New Product</h2>
        <button *ngIf="form.get('name').value" [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button
            type="button">
            <mat-icon [icIcon]="icMoreVert"></mat-icon>
        </button>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
            <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
    </div>

    <mat-divider class="-mx-6 text-border"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div class="flex flex-col sm:flex-row">
            <mat-form-field class="mt-6 flex-auto" appearance="outline">
                <mat-label>Name</mat-label>
                <input cdkFocusInitial formControlName="name" matInput>

                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>

            <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
                <mat-label>Unit</mat-label>
                <input cdkFocusInitial formControlName="unit" matInput>

                <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
            </mat-form-field>
        </div>

        <mat-form-field class="flex-auto">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput>

            <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>

        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">CANCEL</button>
        <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE PRODUCT</button>
        <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE PRODUCT</button>
    </mat-dialog-actions>
</form>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item>
        <mat-icon [icIcon]="icPrint"></mat-icon>
        <span>Print</span>
    </button>

    <button mat-menu-item>
        <mat-icon [icIcon]="icDownload"></mat-icon>
        <span>Export</span>
    </button>

    <button mat-menu-item>
        <mat-icon [icIcon]="icDelete"></mat-icon>
        <span>Delete</span>
    </button>
</mat-menu>