<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h5 class="headline m-0" fxFlex="auto">{{dialogLabel + ' product' }}</h5>

    <button class="text-secondary" mat-dialog-close mat-icon-button>
        <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
    <div class="flex flex-row" fxLayoutGap="20px" *ngIf="mode==2">
        <wms-input [label]="'Id'" [(ngModel)]="receivedData.id" [icon]="icAdd" disabled></wms-input>
        <wms-date-picker [label]="'Created At'" [(ngModel)]="receivedData.createdAt" disabled></wms-date-picker>
    </div>
    <div class="flex-row" fxLayoutGap="20px">
        <wms-input [label]="'Name'" [(ngModel)]="receivedData.name" [icon]="icAdd"></wms-input>
    </div>
    <wms-input [label]="'Quantity'" [(ngModel)]="receivedData.quantity" [icon]="icAdd"></wms-input>
    <wms-input [label]="'Price'" [(ngModel)]="receivedData.price" [icon]="icAdd"></wms-input>
    <wms-select [data]="selectBoxCategory" [(ngModel)]="receivedData.categoryId" [title]="'Category'" [isClear]="true"></wms-select>
    <wms-select [data]="selectBoxSupplier" [(ngModel)]="receivedData.supplierId" [title]="'Supplier'" [isClear]="true"></wms-select>

    <div class="flex-row" fxLayoutGap="20px">
        <wms-input [label]="'Description'" [(ngModel)]="receivedData.description" [icon]="icAdd"></wms-input>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button color="primary" mat-button (click)="createOrUpdateCategory()">{{dialogLabel | uppercase }}</button>
</mat-dialog-actions>