<vex-page-layout>
  <vex-page-layout-header class="pb-0" fxLayout="column" fxLayoutAlign="center start">
    <!-- <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
            class="w-full flex flex-col sm:flex-row justify-between">
            <mat-button-toggle-group [formControl]="layoutCtrl" class="mt-4 sm:mt-0">
                <mat-button-toggle value="boxed">SMALL</mat-button-toggle>
                <mat-button-toggle value="fullwidth">LARGE</mat-button-toggle>
            </mat-button-toggle-group>
        </div> -->
  </vex-page-layout-header>

  <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span *ngIf="selection.isEmpty()"></span>
          <span *ngIf="selection.hasValue()">{{ selection.selected.length }} record<span
              *ngIf="selection.selected.length > 1">s</span> selected</span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
          <button (click)="handleOnDeleteSelected(selection.selected)" color="primary" mat-icon-button
            matTooltip="Delete selected" type="button">
            <mat-icon [icIcon]="icDelete"></mat-icon>
          </button>

          <button color="primary" mat-icon-button matTooltip="Another action" type="button">
            <mat-icon [icIcon]="icFolder"></mat-icon>
          </button>
        </div>

        <div *ngIf="isShowSearch" class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
          fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input (keyup)="applyFilter($event)" [(ngModel)]="searchValue"
            class="px-4 py-3 border-0 outline-none w-full bg-transparent" placeholder="Search..." type="search">

        </div>
        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <mat-button-toggle-group *ngIf="isShowResize" [formControl]="layoutCtrl" class="ml-4" fxFlex="none">
          <mat-button-toggle value="boxed">SMALL</mat-button-toggle>
          <mat-button-toggle value="fullwidth">LARGE</mat-button-toggle>
        </mat-button-toggle-group>

        <button *ngIf="isShowFilterColumns" class="ml-4" color="primary" fxFlex="none" [matMenuTriggerFor]="columnFilterMenu"
          mat-icon-button matTooltip="Filter Columns" type="button">
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <input #fileUpload type="file" style="display:none" (change)="onUpload.emit($event)" onclick="this.value=null;"
          [accept]="acceptType">
        <button *ngIf="isShowUpload" class="ml-4" color="primary" mat-icon-button fxFlex="none" matTooltip="Upload Excel"
          (click)="fileUpload.click()">
          <mat-icon [icIcon]="icUpload"></mat-icon>
        </button>

        <button *ngIf="isShowExport" class="ml-4" color="primary" mat-icon-button fxFlex="none" matTooltip="Export Excel"
          (click)="onExport.emit()">
          <mat-icon [icIcon]="icDownload"></mat-icon>
        </button>

        <button *ngIf="isShowCreate" class="ml-4" color="primary" fxFlex="none" mat-mini-fab matTooltip="Add"
          type="button" (click)="onCreate.emit()">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>


      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- Number Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'number'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- Datetime Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'datetime'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] | date :
              'YYYY-MM-dd HH:mm:ss' }}</td>
          </ng-container>
        </ng-container>

        <!-- Action Column -->
        <!-- <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
                  <ng-container *ngIf="column.type === 'button'" [matColumnDef]="column.property">
                      <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
                      <td *matCellDef="let row" mat-cell [ngStyle]="{width: '10%'}">
                          <i *ngIf="column.buttons?.includes('view') === true" class="fa-solid fa-circle-info"
                              matTooltip="Detail"></i>
                          <i *ngIf="column.buttons?.includes('edit') === true" class="fa-solid fa-pencil" matTooltip="Edit"
                              ></i>
                          <i *ngIf="column.buttons?.includes('delete') === true" class="fa-solid fa-trash" matTooltip="Delete"
                              ></i>
                      </td>
                  </ng-container>
              </ng-container> -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" mat-cell [ngStyle]="{width: '10%'}">
            <button *ngIf="isActionView" mat-icon-button type="button" (click)="onDetail.emit(row)">
              <mat-icon style="color: darkgreen;" [icIcon]="icInfo" matTooltip="View" size="23"></mat-icon>
            </button>
            <button *ngIf="isActionEdit" mat-icon-button type="button" (click)="onUpdate.emit(row)">
              <mat-icon style="color: chocolate;" [icIcon]="icEdit" matTooltip="Edit" size="23"></mat-icon>
            </button>
            <button *ngIf="isActionDelete" mat-icon-button type="button" (click)="handleOnDelete(row)">
              <mat-icon style="color: crimson;" [icIcon]="icDelete" matTooltip="Delete" size="23"></mat-icon>
            </button>
            <!-- <div class="flex">
                          <a (click)="onDetail.emit(row)"
                              class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                              mat-icon-button>
                              <mat-icon style="color: darkgreen;" [icIcon]="icInfo" matTooltip="Detail" size="19"></mat-icon>
                          </a>
  
                          <a (click)="onUpdate.emit(row)"
                              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                              mat-icon-button>
                              <mat-icon style="color: chocolate;" [icIcon]="icEdit" matTooltip="Edit" size="19"></mat-icon>
                          </a>
  
                          <a (click)="handleOnDelete(row)"
                              class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                              mat-icon-button>
                              <mat-icon style="color: crimson;" [icIcon]="icDelete" matTooltip="Delete" size="19"></mat-icon>
                          </a>
                      </div> -->
          </td>

        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" mat-cell>
            <div class="flex">
              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary-light"
                mat-icon-button>
                <mat-icon [icIcon]="icPhone" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-teal bg-teal-light"
                mat-icon-button>
                <mat-icon [icIcon]="icMail" size="18px"></mat-icon>
              </a>

              <a (click)="$event.stopPropagation()"
                class="w-8 h-8 leading-none flex items-center justify-center ml-1 hover:bg-hover text-green bg-green-light"
                mat-icon-button>
                <mat-icon [icIcon]="icMap" size="18px"></mat-icon>
              </a>
            </div>
          </td>
        </ng-container>

        <!-- Status Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'badge'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              <div *ngIf="row[column.property] === 'ready'" class="w-3 h-3 rounded-full bg-green cursor-pointer"
                matTooltip="In stock"></div>
              <div *ngIf="row[column.property] === 'pending'" class="w-3 h-3 rounded-full bg-orange cursor-pointer"
                matTooltip="Pending"></div>
              <div *ngIf="row[column.property] === 'warn'" class="w-3 h-3 rounded-full bg-red cursor-pointer"
                matTooltip="Out of stock"></div>
            </td>
          </ng-container>
        </ng-container>



        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer" mat-row></tr>
        <tr *matNoDataRow style="text-align: center; height: 52px;">
          <td [attr.colspan]="visibleColumns.length">No record.</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="PAGE_SIZE_OPTIONS" [pageSize]="PAGE_SIZE_DEFAULT"
        class="sticky left-0"></mat-paginator>
    </div>



  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button *ngFor="let column of columns" class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>