<vex-secondary-toolbar current="">
    <vex-breadcrumbs [crumbs]="['Author']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of author">
        <td>{{a.id}}</td>
        <td>{{a.firstName}}</td>
        <td>{{a.lastName}}</td>
      </tr>
    </tbody>
  </table>